<nav>
  <a href="/" title="Ir para página principal" class="main-link">
    <h2>Olá <%= user.name.split(' ', 1) %></h2>
  </a>
  <div>
    <a href="/profile">
      <span style="padding: 0 15px" class="material-icons-round">person</span>
    </a>
    <a href="/signout"><span class="material-icons-round">logout</span></a>
  </div>
</nav>
