<nav class="navbar">
  <a href="/" title="Ir para página principal">
    <h2>Olá <%= user.name.split(' ', 1) %></h2>
  </a>

  <div>
    <span
      id="btn-theme"
      class="material-symbols-rounded"
      onclick="toggleTheme()"
      onload="defineTheme()"
      >dark_mode</span
    >
    <a href="/profile">
      <span class="material-icons-round">person</span>
    </a>
    <a href="/signout">
      <span class="material-icons-round">logout</span>
    </a>
  </div>
</nav>
