.button {
  padding: 7px 15px;
  border: 1px solid;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 0.9rem;
  font-weight: 600;
}

.button-primary {
  background-color: #1d4ed8;
  color: #f0f9ff;
}

.button-primary:hover {
  background-color: #1e40af;
}

.button-danger {
  background-color: #dc2626;
  color: #f0f9ff;
}

.button-danger:hover {
  background-color: #f11212;
}
