@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
   --main-color: #94a3b8;
}

::-webkit-scrollbar {
   width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--main-color);
   border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #a9b7cc;
}

* {
   margin: 0;
   padding: 0;
}

html, body {
   scroll-behavior: smooth;
   background-color: #e2e8f0;
   font-family: 'Righteous', cursive;
}

.material-icons-round {
   color: #000;
   cursor: pointer;
   transition: .1s;
   user-select: none;
}

.material-icons-round:active {
   transform: rotate(10deg);
}

header {
   padding: 25px 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: #000;
   background-color: var(--main-color);
   box-shadow: 0px 5px 15px -5px #0000005b;
}

.container {
   margin: 25px 15vw;
   min-height: 100%
}

.title {
   margin: 0 25%;
   text-align: center;
   font-family: 'Pacifico', cursive;
   font-weight: 700;
   color: #000000;
   border-bottom: 2px solid #000000;
}

.title-box {
   font-size: 20px;
}

.main-container {
   margin-top: 50px;
   display: grid;
   grid-template-columns: 25% 25% calc(50% - 16px * 2);
   gap: 16px;
}

.box {
   height: 400px;
   padding: 10px 12px;
   background-color: var(--main-color);
   border-radius: 5px;
   color: #000000;
   overflow: auto;
   box-shadow: 0px 5px 15px -2px #0000005b;
}

.box-header {
   padding: 10px 0;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   font-size: 18px;
}

.box-item {
   padding-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 100;
   list-style-type: none;
   border-bottom: 1px solid;
}

.box-notes p {
   margin-top: 10px;
   padding-bottom: 3px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid;
}

.btn {
   margin-top: 10px;
   padding: 8px;
   font-size: 16px;
   font-family: 'Righteous', cursive;
   border: 1px solid #1a9729;
   border-radius: 5px;
   background-color: #22c55e;
   cursor: pointer;
   transition: .2s;
}

.btn:hover {
   box-shadow: 0px 5px 10px -3px #0000005b;
}

footer {
   width: 100%;
   font-size: 10px;
   text-align: center;
   background-color: var(--main-color);
}
/* Form update */
.form-update {
   margin: 100px 25%;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   background-color: var(--main-color);
   border-radius: 5px;
   box-shadow: 0px 5px 15px -2px #0000005b;
}

.form-update h1 {
   margin-bottom: 10px;
   border: none;
}

.form-update input {
   width: 60%;
   margin-bottom: 10px;
   padding: 8px;
   outline: none;
   border: none;
   border-radius: 5px;
   text-align: center;
   font-family: 'Righteous', cursive;
   transition: .2s;
}

.form-update input::placeholder {
   font-family: 'Righteous', cursive;
}

/* Cadastro e Login */

.sign-in-up {
   margin: 200px 25%;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   background-color: var(--main-color);
   border-radius: 5px;
   box-shadow: 0px 5px 15px -2px #0000005b;
}

.sign-in-up h1 {
   margin-bottom: 10px;
   border: none;
}

.sign-in-up input {
   width: 60%;
   margin-bottom: 10px;
   padding: 8px;
   outline: none;
   border: none;
   border-radius: 5px;
   text-align: center;
   font-family: 'Righteous', cursive;
   transition: .2s;
}

#nome:focus, #email:focus, #password:focus {
   width: 70%;
}

.sign-in-up input::placeholder {
   font-family: 'Righteous', cursive;
}

.sign-in-up p {
   margin-top: 10px;
}

.sign-in-up a {
   color: #000;
   text-decoration: none;
}

.sign-in-up a:hover {
   text-decoration: underline;
}

#form1, #form2, #form3 {
   display: none;
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #00000038;
}

.close {
   display: flex;
   justify-content: flex-end;
}

.close span {
   padding-bottom: 10px;
}

#form1 form ,#form2 form, #form3 form {
   padding: 15px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-radius: 5px;
   background-color: var(--main-color);
   box-shadow: 0px 5px 15px -2px #0000005b;
}

#form1 form textarea, #form2 form textarea,#form3 form textarea {
   text-align: center;
   padding: 10px;
   border: none;
   border-radius: 5px;
   outline: none;
   resize: none;
   font-family: 'Righteous', cursive;
}

/* Form Error */
.c-form-error {
   margin: 0 20%;
   margin-top: 63px;
   padding: 10px;
   display: flex; 
   align-items: center;
   flex-direction: column;
   border: 1px solid #dc2626;
   border-radius: 5px;
   color: #dc2626;
   font-size: 17px;
   background-color: #fecaca;
}

/* Error MSG */
.c-error-msg {
   margin: 0 20%;
   margin-top: 30px;
   padding: 10px;
   display: flex; 
   align-items: center;
   flex-direction: column;
   border: 1px solid #dc2626;
   border-radius: 5px;
   color: #dc2626;
   font-size: 17px;
   background-color: #fecaca;
}

/* Success MSG */
.c-success-msg {
   margin: 25px 20%;
   padding: 10px;
   display: flex; 
   align-items: center;
   flex-direction: column;
   border: 1px solid #15803d;
   border-radius: 5px;
   color: #15803d;
   font-size: 17px;
   background-color: #bbf7d0;
}

.hidden {
   display: none;
}

@media screen and (max-width: 5200px) {
   h1 {
      margin-top: 0px;
   }

   .box {
      padding: 10px 18px;
   }

   footer {
      position: absolute;
      bottom: 0;
   }
   .c-form-error {
      text-align: center;
   }
}

@media screen and (max-width: 900px) {
   .title {
      margin: 0 10%;
   }
   .main-container {
      grid-template-columns: calc(50% - 8px) 50% ;
     
   }

   .prioridade {
      grid-column-start: 1;
      grid-column-end: 2;
   }

   .a-fazer {
      grid-column-start: 2;
      grid-column-end: 3;
   }

   .notes {
      grid-column-start: 1;
      grid-column-end: 3;
   }

   footer {
      position: relative;
      bottom: 0;
   }

   .sign-in-up {
      margin: 200px 10%; 
   }

   .form-update {
      margin: 100px 10%
   }

   .c-form-error {
      padding: 5px 0;
      margin: 63px 0;
      font-size: 16px;
      text-align: center;
   }

   .c-success-msg {
      padding: 5px 0;
      margin: 25px 0;
      font-size: 16px;
      text-align: center;
   }

   .c-error-msg {
      padding: 10px 0;
      margin: 43px 0;
      margin-bottom: 0;
      text-align: center;
   }
}

@media screen and (max-width: 500px) {
   header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
   }
  
   .container {
      margin: 25px 7vw;
   }

   .title {
      margin: 100px 2%;
      margin-bottom: 20px;
   }

   .main-container {
      grid-template-columns: calc(50% - 18px);
      gap: 18px;
   }

   .title-box {
      font-size: 22px;
   }

   .box-header .material-icons-round {
      font-size: 26px;
   }
   
   .box-item, .box-notes p {
      font-size: 18px;
   }

   .prioridade {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
   }

   .a-fazer {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
   }

   .notes {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4; 
   }

   #form1 form button, #form2 form button, #form3 form button {
      padding: 7px;
   }

   footer {
      position: relative;
   }

   .form-update {
      margin: 50px 0;
      margin-bottom: 0;
   }

   .form-update label {
      margin: 8px 0;
      font-size: 18px;
   }

   .form-update input {
      width: 80%;
      padding: 10px;
   }

   /* Login e Cadastro */

   .sign-in-up {
      margin: 120px 0; 
   }

   .sign-in-up label {
      margin: 5px 0;
      font-size: 18px;
   }

   .sign-in-up input {
      width: 80%;
      margin-bottom: 5px;
      padding: 10px;
   }

   #nome:focus, #email:focus, #password:focus {
      width: 90%;
   }

   .btn {
      padding: 10px;
   }

   .c-form-error {
      margin: 63px 0;
      padding: 5px 0;
      font-size: 14.5px;
      text-align: center;
   }

   .c-success-msg {
      margin: 0;
      padding: 5px 0;
      font-size: 14.5px;
      text-align: center;
   }

   .c-error-msg {
      margin: 23px 0;
      margin-bottom: 0;
      padding: 5px 0;
      font-size: 14.5px;
      text-align: center;
   }
}