<% if (errors.nameError == undefined 
&& errors.emailError == undefined 
&& errors.passwordError == undefined) { %>
   <!-- Não mostra nada -->
<% } else { %>
   <div class="c-form-error">
      <p><%= errors.nameError %></p>
      <p><%= errors.emailError %></p>
      <p><%= errors.passwordError %></p>
   </div>
<% } %>  