<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/flashError.ejs') %>
    <%- include('../partials/flashSuccess.ejs') %>
  </body>
</html>
