<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/flashError.ejs') %>
    <main class="container">
      <form action="/user/authenticate" method="post" class="sign-in-up">
        <h1>Login</h1>

        <label for="email"> Email </label>
        <input
          required
          type="email"
          name="email"
          id="email"
          placeholder="Digite seu email"
          value="<%= prevForm?.email %> "
        />

        <label for="password"> Senha </label>
        <input
          required
          type="password"
          name="password"
          id="password"
          placeholder="Digite sua senha"
        />

        <button class="btn">Logar</button>
        <p><a href="/signup">Cadastre-se</a></p>
      </form>
    </main>
  </body>
</html>
