<%- include('../partials/header.ejs') %> 
<body>
   <%- include('../partials/navbar.ejs') %> 
   <div class="container">
      <h1 class="title">Atualização de senha</h1>
      <%- include('../partials/errorMsg.ejs') %> 
      <form class="form-update" method="post" action="/user/update/password">
         <label for="senha-atual">Senha Atual</label>
         <input type="password" id="senha-atual" name="oldPassword" placeholder="Digite sua senha atual">
         <label for="nova-senha">Nova senha</label>
         <input type="password" id="nova-senha" name="newPassword" placeholder="Digite sua nova senha">
         <button class="btn" type="submit">Atualizar</button>
      </form>
   </div>   
</body>
</html>